* {

	text-align: justify;

}

.post_title {

	position: relative;
	page-break-before: avoid;
	page-break-after: avoid;
	margin-bottom: 6px;

}

.post_identifier {

	position: relative;
	page-break-before: avoid;
	margin-bottom: 12px;

}


.post_content {

	page-break-before: avoid;
	position: relative;
	orphans:5;
	widows:5;

}


.post {

	position: relative;
	orphans:5;
	widows:5;

}